.section_item {
    height: auto;
    max-width: calc(100vw - 30px);
    margin: 15px;
    padding: 10vw;
    z-index: 1;
    position: relative;
    text-align: center;
  }
  .flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .section_item p {
    font-size: 18px;
    font-size: 1rem;
    color: #fff;
    max-width: 700px;
    line-height: 1.5;
  }
  
  /* Background colors */
  body {
    background: -webkit-linear-gradient(90deg, #190e1f 10%, #7600db 90%);
    background:    -moz-linear-gradient(90deg, #190e1f 10%, #7600db 90%);
    background:     -ms-linear-gradient(90deg, #190e1f 10%, #7600db 90%);
    background:      -o-linear-gradient(90deg, #190e1f 10%, #7600db 90%);
    background:         linear-gradient(90deg, #190e1f 10%, #7600db 90%);
  }
  
  h1 {
    color: white;
    
    
  }

  h2    {
    color: #cb4edd;
  }

  .lap { 
   width: 50px;
   height: 50px;
  }

  P  {
    color: white;
  }

  .image-container {
    max-width: 100%;
    height: auto;
    
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  .image-container {
    position: relative;
  }
  
  .section_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
